@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Rouge+Script');


body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url(img/caixinha_back.png);*/
    background: #59bcea;

    height: 100vh;
    max-width: 430px;
}

section.comodo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

section.comodo a {
    display: block;
    padding-top: 80px;
    height: 120px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.conversa .produto a.imagem {
    text-align: center;
    display: block;
}

.conversa .produto h2::first-letter {
    text-transform: uppercase 
}

.conversa .produto img {
    max-width: 95%;
    height: 85px;
}
.feedback{
    font-size: 0.7em;
    line-height: 2em;
}
.feedback img {
    margin-right: 6px;
    width: 16px !important;
    height: 16px !important;
    float:left;
}


.loja {
    display: inline-block;
    margin: .5em 1em 1em 0 ;
}
.loja img {
    height: 2em !important;
}

.clicado{
    text-align: center;
    background-color: lavender;
    font-size: .9em;
    padding: 4px;
    border-radius: 19px;
}

.clicado button, .modal button{
    margin-left: 1em;
    border-radius: 31px;
    border: 3px solid #84eaf9;
    font-family: verdana;
    font-weight: bold;
    cursor: pointer;
    padding: .6em;
    min-width: 6em;
    margin-bottom: 1em;
    background-image: linear-gradient(to bottom, #eeeeee 0%, #FFFFFF 50%, #cccccc 100%);
}

.clicado button:hover,  .modal button:hover{ background-position: right center; }

.produto.interessado{
    border: 1px solid greenyellow;
    border-radius: 15px;
    padding: 1em; 
}
#wa_modal {
    text-align: center;
}
.codigo_convidado{
    padding: 4px;
    font-size: 1.4em;
    width: 4em;
    text-align: center;
    border: 1px solid silver;
    margin-top: .4em;
    text-transform: uppercase;
}

.produto{
    position: relative;
}
.olhada{
    position: absolute;
    bottom: 0;
    right: 0;
}
.olhada img{
    float: left;
}
#wa_modal_content .erro{
    color: red;
    font-weight: bold;
}