@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Rouge+Script');


body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url(img/caixinha_back.png);*/
    background: #59bcea;

    height: 100vh;
    max-width: 430px;
}

section.comodo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

section.comodo a {
    display: block;
    padding-top: 80px;
    height: 120px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.conversa .produto a.imagem {
    text-align: center;
    display: block;
}

.conversa .produto h2::first-letter {
    text-transform: uppercase 
}

.conversa .produto img {
    max-width: 95%;
    height: 85px;
}
.feedback{
    color: #afafaf;
    font-size: 0.7em;
    line-height: 2em;
}
.feedback img {
    margin-right: 6px;
    width: 16px !important;
    height: 16px !important;
    float:left;
}