@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Rouge+Script');

@keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0 ; }
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

body{
    font-size: 1.3em;
    background-image: url(img/caixinha_back.png);
    text-shadow: 1px 2px silver;
    color: black;
    /*background-color: #6dd001; */
    text-transform: uppercase;

    max-height: 1200px;
    position: relative;
    border: 0;
    margin:0;
    line-height: 1.5em;
    /*
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 2000px;
    background-image: url(img/background-welcome.png);
    
    background-repeat: repeat-x;
    background-size: contain;
    background-attachment:fixed ;   
    animation: animatedBackground 40s linear infinite;
    */
}
a {
    color: red;
    text-decoration: none;
}
#menu{
    padding-bottom: 260px;
    text-align: center;
}

#menu ul{
    list-style-type: none;
}
#menu li{
    padding-top: 1em;
}
.nome{
    font-family: 'Rouge Script', cursive;
    text-transform: initial !important;
}
footer, header{

    width: 100%;
    background-repeat: repeat-x;
}
header{
    min-height: 1460px;
    background-image: url(img/cortina.png);
    z-index: auto;
}
footer{
    min-height: 103px;
    background-image: url(img/palco.png);
    bottom: 0;
    position: fixed;

}
#welcome, #menu{
    text-align: center;
    max-width: 960px;
    margin:0 auto;
}

.chamada .mensagem, .pai, .mae,.player,.nome{
    display: block;
    clear: both;
}
.pais{
    width: 50%;
    float: left;
}
.mais, p.noivo, p.noiva{
    width: 30%;
    float: left;

}
.mensagem.joystick{
    clear: both;
}
#items img{
    height: 150px;
    position: fixed;
    bottom: 103px;
}
#items .peach{
    right: 0;
}
header{
}
#items img {
    z-index: 2;

}
#welcome{
    z-index: 1;
    padding-bottom: 10em;
}
.start{
    border: 0;
    color: white;
    background-color: red;
    padding: 3px;
    text-shadow: 0;
}
.orientacoes{
    position: fixed;
    right: 4px;
    top: 4px;
    font-size: 1.4em;
}
@media (max-width: 600px) {    
    body{
        font-size: .9em;
    }
    #welcome{        
        margin: 1em;
    }
}
@media (max-width: 1300px) { 
    #welcome, #menu{
        /*padding-left: 6em;
        padding-right: 6em;*/
        
    }
    
}
.nome{
    font-size: 1.7em;
    padding-top: 1em;
    padding-bottom: 1em;
}
@media (max-width: 512px) {   
    .celular {
        display: initial;
    }
    .pc{
        display: none;
    }
}

@media (min-width: 512px) {   
    .celular {
        display: none;
    }
    .pc{
        display: initial;
    }
}
.obrigado:not(:empty){
    background-color: white;
    border-radius: 10px;
    border: 1px solid green;
    padding: 1em;
}
.obrigado{
    margin-top: 1em;
}